@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

/* MOBILE */
/* SMALL TABLET*/
@media screen and (min-width:620px){

}

/* LARGE TABLET & LAPTOP*/
@media screen and (min-width:960px){

}

/*DESKTOP*/

@media screen and (min-width:1200px){
    
}

