@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

*{
  font-family: Roboto;
}

/*Mobile*/

.showing{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header{
  display: flex;
  justify-content: flex-start;
}

.heroImg{
  max-width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.column{    
  width:100%;
  text-align: center;
  background-color: rgb(233, 233, 233);

}

.card{
  margin-bottom: 1rem;
  padding-bottom:10%;
  border:1px solid rgba(128, 128, 128, 0.521);
  box-shadow: rgb(77, 76, 76);
  background-color: white;
}

.rangeName{
  display: flex;
  justify-content: flex-start;
}

.logo{
  max-width:5%;
}

.colors{
  padding-top: 2px;
  max-width:20%;
  height: 10%;
}

p{
  width:25%;
  font-size: 10pt;
  text-align: center;
}

.colorVariant{
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.sizes{
  padding-top: 5px;
  max-width: 25%;
  height: 15%;
}

.sizeVariant{
  padding-top: 5px;
  display:flex;
  justify-content: flex-start;
}



/*Tablets*/
@media only screen and (min-width: 600px){
  .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
  }

  .heroImg{
    width:200%
  }
}

/*Desktop*/
@media only screen and (min-width: 992px){
  .column{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.5rem;
  }
  .Banner{
    visibility: visible;
  }
}

/* .column {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}



.card {
  text-align: center;
  background: grey;
} */
