@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sofashield-title {
    font-family: Roboto;
    font-size: 2rem;
    color: white;
    padding-bottom: 20px;
}

.sofashield-intro {
    font-family: roboto;
    color: white;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.sofashield-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vm;
    background-color: rgb(83, 79, 79);
    padding-bottom: 50px;
}

.hero-image-container {
    background-color:lightgrey;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.hero-image-title {
    text-align: center;
    font-family: roboto;
    color: black;
    font-size: 2em;
}

.hero-image-text {
    text-align: center;
    color: black;
    font-family: roboto;
}
.hero-image-text-container {
    padding-right: 5%;
}

.sofashield-filler-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: roboto;
}

.sofashield-filler-title-one {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: x-large;
    font-family: roboto;
}

.sofashield-filler-title-two {
    color: white;
    font-family: roboto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    font-size: x-large;
}

.sofashield-filler-content {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}