.dropdown {
    position: absolute;
    top: 83px;
    width: 200px;
    transform: translateX(20%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    overflow: hidden;
    z-index:999;
}   

.menu-item {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background var(--speed);
}

.menu-item:hover {
    background-color: #999999;
}


