.footer-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

.footer-title {
    color: white;
    font-size: x-large;
}

.title-footer {
    background-color: black;
    text-align: center;
}