.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  /* padding: ; */
   border-bottom: var(--border);
  display: flex;
  align-items: center;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.head-sofology-logo {
  width: 100px;
  height: 30px;
}


@media only screen and (min-width: 992px) {
  
  .navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  /* padding: ; */
  border-bottom: var(--border);
  display: flex;
  align-items: center;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.head-sofology-logo {
  width: 164px;
  height: 36px;
}

}
