.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vm;
    color: white;
    background-color: rgb(92, 91, 91);
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-link-list {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-fab-icon {
    width: 21.69px;
    height: 26px;
}

.nav-leather-icon {
    width: 22.41px;
    height: 26px;
}
.nav-corner-icon {
    width: 38.78px;
    height: 26px;
}

.nav-recliner-icon {
    width:28.58px;
    height: 26px;
}
.nav-sofabed-icon {
    width:19.82px;
    height: 26px;
}
.nav-chair-icon {
    width: 23.84px;
    height: 26px;
}
.nav-sofasizer-icon {
    width:57.46px;
    height: 26px;
}
.nav-find-a-store-icon {
    width: 17.67px;
    height: 26px;
}
.nav-order-direct-icon {
    width: 25.14px;
    height: 26px;
}
.nav-customer-service {
    width: 32.31px;
    height: 26px;
}
.find-a-store-borderleft {
    border-left: 3px solid gray;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link:hover {
    color:rgb(18, 193, 247);
}