.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
  }
  
  .icon-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }