.shop-the-sofa-container {
    display:flex;
    text-align: center;
}

.landing-fabric-sofas, .landing-leather-sofas {
    width: 663px;
    height: 442px;
    border: 1px solid white;
}

.shop-sofas-title {
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shop-sofas-p {
    font-size: x-large;
    text-align: center;
}

.other-types-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.other-types-corner{
    height: 192px;
    width: 457px;
}
.other-types-sofabed {
    width: 315.42px;
    height: 192px;
}
.other-types-accent {
    height: 192px;
    width: 225.71px;
}
.other-types-recliner {
    width: 350.82px;
    height: 192px;
}
.other-types-one-container, .other-types-two-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: auto;
    font-size: x-large;
}
.shop-by-color-container {
    display: flex;
    background-color: #e5e5e5;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}
.color-image {
    width: 113.71px;
    height:112px;
}

.sofa-colors {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.four-seaters {
    height: 122px;
    width: 265.5px;
}
.three-seaters {
    height: 122px;
    width: 244.5px;
    text-align: center;
}
.two-seaters {
    height: 122px;
    width: 222px;
}
.chairs {
    height: 122px;
    width: 188.5px;
}
.footstools {
    width: 158.5px;
    height: 122px;
}
.shop-by-size-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.size-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-by-size-title {
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
}
.shop-sofa-landing-fabric {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}