.shop-safely-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    text-align: center;
}

.shop-safe-banner-container {
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.shop-safe, .safe-video, .safe-call, .safe-chat {
    height: 300px;
    width: 284px;
}
.safe-video-container, .safe-call-container, .safe-chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-safely-promise, .shop-safely-interest-free, .shop-safely-expert-delivery, .shop-safely-guarentee {
    font-size: large;
    
}

.shop-safe-banner-container p {
    font-size: 1em;
    text-align: center;
}