@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.image-container {
    display: flex;

}
.comfort-icons {
    padding-bottom: 50px;
    
}
.comfort-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    right: 10%;
    text-align: center;
    font-size: large;
}

.each-fade {
    background-color: black;
}
.comfort-filler-text {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Roboto;
    width: fit-content;
    font-size: 1em;
}

.find-out-more-btn {
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    transition: background-color 2s ease-out;
}
.find-out-more-btn:hover {
    background-color: white;
    color: black;
}

.special-buy-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    right: 10%;
    color: white;
    
}
.special-buy-title, .corner-sofas-title {
    font-family: Roboto;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
}

.special-buy-filler-text, .corner-sofas-filler-text {
    text-align: center;
    font-family: Roboto;   
    width: fit-content;
    font-size: 1em;
}
.special-buy-shop-now {
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    transition: background-color 2s ease-out;
}
.special-buy-shop-now:hover {
    background-color: white;
    color: black;
}
.special-buy-video-call {
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-left: 20px;
    transition: background-color 2s ease-out;
}
.special-buy-video-call:hover {
    background-color: white;
    color: black;
}
.corner-sofas-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    right: 10%;
    color: white;
}
.corner-sofas-shop {
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 300px;
    margin-top: 30px;
    transition: background-color 2s ease-out;
}
.corner-sofas-shop:hover {
    background-color: white;
    color: black;
}
.corner-sofas-buying-guide {
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 300px;
    margin-top: 30px;
    transition: background-color 2s ease-out;
}
.corner-sofas-buying-guide:hover {
    background-color: white;
    color: black;
}
.corner-sofas-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
