.Faves {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.wrapContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.heartImage {
    width: 15px;
    height: 15px;
}

.cartImage {
    width: 15px;
    height: 15px;
}


.trustpilot-content {
    display:none;
}


@media only screen and (min-width: 992px){

.trustpilot-container {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.tpStars {
    width: 120px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.TPLogo {
    width: 90px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.trustpilot-content {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.heartImage {
    height: 20px;
    width: 20px;
}

.cartImage {
    height: 20px;
    width: 20px;
}

.Faves {
    display: flex;
    justify-content: flex-end;
}

.wrapContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:auto;
}


}