.product-title, .product-price {
    text-align: center;
    font-size: x-large;
}

.product-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}

.product-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.product-image {
    height: 392.1px;
    width: 392.1px;
    background-color: rgb(218, 216, 216);
}
.cushion-hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60%;
    right: 10%;
    text-align: center;
    width: fit-content;
}
.banner-hero-image {
    padding-bottom: 20px;
}
.banner-cushion-title {
    padding-bottom: 30px;
}
.banner-filler-text {
    font-size: 1em;
    width: fit-content;
}